.BarItemContainer {
  border-radius: 9999px; /* fully rounded */
  background-image: none;
  background-color: rgba(255, 255, 255, 0.1); /* translucent bg */
  padding: 2px 10px;
  min-width: 10px;
  font-weight: bold;
  transition: 300ms all;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.traymenubtn {
  > button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    // border: 1px solid #fff;
  }
}
