@use "./colors.scss" as *;
.launcher_container {
  background: $primary_container;
  font-size: 1.4em;
  color: white;
  border-radius: 12px;
  border: 1px solid $primary;

  .launcher-content {
    background: $primary_container;
    min-width: 400px;
    padding: 6px;
  }
}
