@tailwind base;
@tailwind utilities;

window * {
  @apply font-normal;
}
.dbg {
  outline: 1px solid #ffffff;
}

button,
menubutton,
.psuedoMenuButton {
  transition: 200ms all;
  @apply rounded-md;
  @apply bg-surface;
  /* @apply hover:bg-on_background/20; */
  @apply brightness-100;
  @apply hover:brightness-125;
  /* @apply min-w-8; */
}
/* button:hover,
menubutton:hover,
.psuedoMenuButton:hover {
} */

entry {
  @apply bg-surface;
  @apply text-on_surface;
  @apply border;
  @apply border-outline;
  @apply p-2;
}
