@use "sass:color";
@use "colors.scss" as *;

.workspace_indicator {
  padding: 0;
  // min-width: 0.6em;
  // min-height: 0.6em;
  border-radius: 100px;
  &.active,
  &:active {
    background-color: color.adjust($primary, $lightness: -30%);
  }
}
