@use "sass:color";
@use "colors.scss" as *;

.workspace_indicator {
  transition: none;
  padding: 0;
  border-radius: 100px;
  &.active,
  &:active {
    background-color: color.adjust($primary, $lightness: -30%);
  }
}
